<style>
    ul {display: flex;}
    li {flex-direction: row; gap: 20px; list-style: none; padding: 20px;}
</style>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>